@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


h1 {
  font-size: 500%;
  font-weight: 700;     
  margin: 0px;
}
h2 {
  margin: 0px;  
}
body{
  padding: 80px 160px 80px 160px;  
}
p{
 font-size: 150%;
 margin: 0px 10px 0px 10px;
}
li{
  font-size: 150%;  
  margin: 5px 0px 5px 0px;  
}
.button {
  background-color: rgb(11, 10, 92);
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  border: none;
  font-size: 150%;
}
.button:hover {
  background-color: #90AEF4;
}


/* ----------MAIN CONTENT---------- */
.introduction{   
  display: flex;    
  justify-content: center;  
  text-align: center;      
}
.introduction img {
  max-height: 700px;
}

.introduction aside:first-child{  
  margin: 180px 80px 0px 0px;
  max-width: 1100px;  
}

.socialmedia img{  
  display: inline;  
  height: 30px;      
  margin: 0px 10px 0px 10px;
  padding: 5px;
}
.socialmedia a{
  text-decoration: none;
}
.socialmedia img:hover{
  background-color:rgb(232, 230, 255);
}

/* //////////CONTENT/////////// */
.content {
  position: absolute;
  display: block;
  text-align: center;
  left: 0px;
  right: 0px;        
  
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
  /* max-width: 1800px; */
}
.content h1 {  
  border-top: 5px solid #90AEF4;
  padding-top: 80px;
  max-width: 1000px;
  margin: 80px auto 0px auto;
}
.content section{    
  text-align: center;  
  margin-bottom: 50px;
}
.content section aside{    
  display: flex;   
  justify-content: center;   
  margin: auto;
  margin-top: 50px;      
}
.content section aside article{
  display: block;  
  max-width: 900px;
  margin-top: auto;
  margin-bottom: auto;    
  margin-right: 75px;
}
.content section aside img {
  max-width: 600px;
  max-height: 500px;    

}
.projects img {
  border: 10px  solid rgb(11, 10, 92);
}



/* ----------------INTERNSHIP PAGE---------------------- */
.internship_intro{
  text-align: center;
  display: block;
  margin: auto;    
}
.internship_intro h2 {
  margin-top: 50px;
}

ul {
  display: inline-block;
  text-align: left;  
}

.internship_content .content img{  
  max-width: 50%;
}

.internship_content figure {  
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;  
}
.internship_content figure img {
  margin: 5px 5px 5px 5px;
  width: calc(100vw/5);
  height: auto;
}
.internship_content .intern_cartheory img{
  height: calc(100vh/2);
  width: auto;
}

/* ------------------------------------------------ */
*{  
  font-family: Roboto;
  color: rgb(65, 64, 136);  
}